{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-4 text-center">
      <img src="{% static 'images/default2.jpeg' %}" alt="three wandering adventurers" class="img-fluid">
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col">
          <h1>Your Character Sheet:</h1>
        </div>
        {% if character.profile.user == request.user %}
        <div class="col">
          <a href="{% url 'character_edit' character.id %}" class="btn btn-secondary">Edit</a>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-delete-{{character.id}}">
            Delete
          </button>

          <!-- Modal -->
          <div class="modal fade" id="modal-delete-{{character.id}}" tabindex="-1" aria-labelledby="modal-delete-{{character.id}}Label"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modal-delete-{{character.id}}Label">Delete Character</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete this character?
                  <br>
                  <small class="text-muted">This action is permanent and cannot be undone.</small>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-bs-dismiss="modal">No</button>
                  <a href="{% url 'character_delete' character.id %}" class="btn btn-danger">Yes</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      <hr>
      <h2> {{ character.name }} </h2>
      <div>
        <p><strong>Class:</strong> {{ character.character_class }}</p>
        <p><strong>Race:</strong> {{ character.character_race }}</p>
        <p><strong>Level:</strong> {{ character.level }}</p>
        <p><strong>Strength:</strong> {{ character.strength }}</p>
        <p><strong>Dexterity:</strong> {{ character.dexterity }}</p>
        <p><strong>Constitution:</strong> {{ character.constitution }}</p>
        <p><strong>Intelligence:</strong> {{ character.intelligence }}</p>
        <p><strong>Wisdom:</strong> {{ character.wisdom }}</p>
        <p><strong>Charisma:</strong> {{ character.charisma }}</p>
        <p><strong>Items:</strong></p>
        <p>{{ character.items }}</p>
        <p><strong>Features:</strong></p>
        <p>{{ character.features }}</p>
        <p><strong>Bio:</strong></p>
        <p>{{ character.bio }}</p>
      </div>
      <hr>
      {% if request.user.is_superuser %}
      <div>
        <p>Categories to be implemented soon:</p>
        <p>Alignment, Armour Class, Speed, Hitpoints, Background, Proficiencies, Languages, Hit Dice, Saving Throws, and
          more!</p>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <!-- Updated on field goes in here -->

      <p class="text-end"><em>Created on: {{ character.created_on }}</em></p>
    </div>
  </div>
</div>


<!-- index.html content ends here -->
{% endblock %}